.category__container {
    border: 1px solid black;
    margin: 10px;
    padding: 15px;
    width: 25%;
    height: fit-content;
    position: relative;
    border-radius: 5px;
    background-color: white;
}

.category__container > h5 {
    margin: 0 15px 5px 15px; 
}

.category__container > p:first-of-type {
    font-size: 13px;
    margin-bottom: 5px;
    cursor: default;
}

.category__addItem {
    font-size: 13px;
    vertical-align: middle;
    margin: 10px 0;
}

.category__close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
    color: inherit;
}

.category__close:hover {
    color: red !important;
}

[contenteditable]:focus {
    outline: 1px solid lightgray;
}